<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
    <link rel="stylesheet" href="/about.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/bio">BIOGRAPHY</a></li>
        <li><a href="/register">SIGN IN</a></li>

        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </nav>

    <ul class="main-nav">
      <li class="item1">
        <div class="bg"></div>
      </li>
      <li class="item2">
        <div class="bg"></div>
      </li>
      <li class="item3">
        <div class="bg"></div>
      </li>
      <li class="item4">
        <div class="bg"></div>
      </li>
      <li class="item5">
        <div class="bg"></div>
      </li>
    </ul>
  </body>
</html>
