
 <!DOCTYPE html>
 <html>
   <head>
     <title>CONTACT</title>
     <link rel="stylesheet" href="/contact.css" />
   </head>
   <body>
     <nav>
       <ul>
         <li><a href="/">HOME</a></li>
         <li><a href="/about">PICTURES</a></li>
         <li><a href="/register">SIGN IN</a></li>


       </ul>
     </nav>
     <div class="container">
         <div class="contact-box">
             <div class="left"></div>
             <div class="right">
                 <h2>Contact Me</h2>
                 <input type="text" class="field" placeholder="Your Name">
                 <input type="text" class="field" placeholder="Your Email">
                 <input type="text" class="field" placeholder="Phone">
                 <textarea placeholder="Message" class="field"></textarea>
                 <button class="btn">Send</button>
             </div>
         </div>
     </div>
       
     </div>
   </body>
 </html>
 