body {

    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
  }

  body{
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(./images/blue.jpeg);
    overflow: hidden;
  }
  
  ul {
  
    margin-right: 4em;
    flex-direction: row-reverse;
    display: flex;
  }
  li {
    background: transparent;
    margin-right: 10px;
    list-style: none;
    justify-content: space-between;
  }
  a {
    font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
  
    background: transparent;
    font-weight: bold;
    font-size: 15px;
    color: rgb(245, 245, 245);
  }


  .container{
	position: relative;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}


.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(60px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: flex;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color:transparent;
	box-shadow: 0px 0px 19px 5px rgba(33, 33, 33, 0.19);
}
form{
    max-width:600px;
    padding: 20px;
}
.right{
    background: transparent;
    backdrop-filter: blur(5px);
	padding: 25px 40px;
}
h2{
    color: white;
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.field{
    color: black;
	width:90%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.txt{
    color: #bae4f3;

}

.btn{
    margin: 3px;
	width: 95%;
	padding: 0.5rem 1rem;
	background-color: #1728a9;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #1d86ff;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

span{
	color: rgb(121, 11, 11);
}